{% extends "base.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block body %}

<div class="align-item-center justify-content-between d-flex mb-3">
    <h3 align="center"> Ubah Tugas </h3>
</div>
<form action="{{ url_for('edit') }}" method="post">
    <div class="mb-3 row">
        <label for="Judul">Judul Tugas : </label>
        <input type="text" name="Judul" placeholder="Judul" class="form-control" value="{{tugas.Judul}}">
    </div>
    <div class="mb-3 row">
        <label for="Deskripsi">Deskripsi Tugas : </label>
        <textarea class="form-control" name="Deskripsi" placeholder="Deskripsi" rows="10" cols="10">{{tugas.Deskripsi}}</textarea>
    </div>
    <div class="mb-3 d-flex btn btn-group">
        <button class="btn btn-primary" type="submit">Tambah</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Kembali</a>
    </div>
</form>
{% endblock %}